<mat-card>
    <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form [formGroup]="pwdChangeForm">
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput type="password" formControlName="old_pwd">
            </mat-form-field>
            <mat-error *ngIf="pwdChangeForm.controls['old_pwd'].dirty && pwdChangeForm.controls['old_pwd'].hasError('required')">Current password is required.</mat-error>
            <mat-error *ngIf="pwdChangeForm.controls['old_pwd'].dirty && pwdChangeForm.hasError('currentPwdUnmatch')">Current password is not matched.</mat-error>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="new_pwd">
            </mat-form-field>
            <mat-error *ngIf="pwdChangeForm.controls['new_pwd'].dirty && pwdChangeForm.controls['new_pwd'].hasError('required')">New password is required.</mat-error>
            <mat-error *ngIf="pwdChangeForm.controls['new_pwd'].dirty && pwdChangeForm.controls['new_pwd'].hasError('minlength')">New password must be at least 8 characters.</mat-error>
            <mat-error *ngIf="pwdChangeForm.controls['new_pwd'].dirty && pwdChangeForm.controls['new_pwd'].hasError('pattern')">Invalid password format</mat-error>

            <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" formControlName="confirm_pwd">
            </mat-form-field>
            <mat-error *ngIf="pwdChangeForm.controls['confirm_pwd'].dirty && pwdChangeForm.controls['confirm_pwd'].hasError('required')">Confrim password is required.</mat-error>
            <span class="error-msg" *ngIf="pwdChangeForm.controls['confirm_pwd'].touched && pwdChangeForm.controls['confirm_pwd'].dirty && pwdChangeForm.hasError('unmatch')">Unmatched confirmation password!</span>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button class="btn confirm-btn" [disabled]="!pwdChangeForm.valid" (click)="changeNewPwd(pwdChangeForm.value)">
            Confirm
        </button>
        <button mat-raised-button class="btn reset-btn" (click)="pwdChangeForm.reset()">
            Clear
        </button>
    </mat-card-actions>
</mat-card>